// .ant-drawer-body
// padding: 0 !important

// .ant-pagination-item
// background: none !important

// a
// color: #fff !important

// .ant-pagination-next .ant-pagination-item-link,
// .ant-pagination-prev .ant-pagination-item-link
// background: none !important

// span
// color: #fff !important
body
    .ant-drawer-body
        padding: 0

    .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis, .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis
        color: #fff

    .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon, .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon
        color: #ef466f

    .ant-pagination-next:focus-visible .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link, .ant-pagination-prev:focus-visible .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link
        color: #ef466f

    .ant-pagination-next .ant-pagination-item-link, .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-item-active
        background-color: transparent

    .ant-pagination-disabled .ant-pagination-item-link, .ant-pagination-disabled:focus-visible .ant-pagination-item-link, .ant-pagination-disabled:hover .ant-pagination-item-link
        color: #fff

    .ant-pagination
        margin: 10px 16px 8px
        color: #fff

        // background-color: rgba(255,255,255,0.1)
        .ant-pagination-item
            a
                color: #fff

        >li
            background-color: rgba(255, 255, 255, 0.1)
            border: 0
            color: #fff
            border-radius: 9px

            button
                color: #fff

        .ant-pagination-next .ant-pagination-item-link, .ant-pagination-prev .ant-pagination-item-link
            border: 0

        .ant-pagination-item-active
            background: linear-gradient(24deg, #FF00E5 0%, #FFA200 100%) !important
            box-shadow: 0px 1px 3px 1px rgba(215, 91, 91, 0.5)
            border-radius: 9px
            border: 0

            a
                color: #fff

    div.toastMessage
        .ant-message-notice-content
            background: rgba(#101015, 0.8)

    .successMessage, .toastMessage
        .anticon
            display: none

        .ant-message-notice-content
            min-width: 198px
            height: 162px
            background: rgba(#101015, 0.5)
            border-radius: 16px
            color: #fff
            padding: 0 16px

            .icon
                size: 50px
                margin: 40px 0 0
                display: block
                margin: 40px auto 0

                svg
                    width: 100%
                    height: 100%
                    color: #fff

            .text
                height: 22px
                font-size: 16px
                font-family: PingFangSC-Medium, PingFang SC
                font-weight: 500
                color: #FFFFFF
                line-height: 22px
                margin: 14px 0 0